{
  "upstream": "192.168.1.108",
  "port": "53",
  "records": [
    {
      "name": "scinorandex.com",
      "type": "A",
      "resolutions": [
        { "network": "192.0.0.1", "mask": "255.0.0.0", "value": "192.168.1.109" },
        { "network": "172.0.0.1", "mask": "255.0.0.0", "value": "172.168.1.109" },
        { "network": "100.0.0.0",  "mask": "255.0.0.0", "value": "100.105.170.26" }
      ]
    }
  ]
}